* {
    margin: 0; 
 }
 
header {
     padding: 20px 56px 20px 56px;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
 }
 
.navigation {
     padding: 10px 24px;
 }

.link {
    text-decoration: none;
    color: #000;
 }  

mark {
    display: flex;
    align-items: center;
    padding: 60px;
    background: rgba(16, 24, 40, 1);
    color: white;
 }

mark p {
    text-align: center;
    align-items: center;
    font-size: 24px;
    font-weight: 600;
    padding-left: 14px;
 }

.back-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    height: 52px;
    width: 52px;
    padding: 0px;
    background: white;
    border-radius: 8px;
 }

.section_paragraph {
    display: flex;
    align-items: center;
    /* background: red; */
    height: 150px;
    padding-left: 56px;
}

.small {
    font-size: 14px;
    font-weight: 600;
}

.large {
    font-size: 36px;
    font-weight: 600;
}

.custom-table {
    margin: 0 56px 0 56px;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    
  }
  
.custom-table thead , .custom-table thead td {
    background-color: #f0f0f0;
    
}
  
.custom-table th, 
.custom-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}
  
.custom-table th {
    background-color: #f8f8f8;
    color: #333;
    font-weight: bold;
}
  
.custom-table tr:nth-child(even) {
    background-color: #f9f9f9;
}
  
.custom-table tr:hover {
    background-color: #f1f1f1;
}
  
.custom-table td {
    font-size: 14px;
    color: #333;
}
  
.custom-table th {
    font-size: 14px;
    color: #000;
}

.container {
    display: grid;
    gap: 32px;
    row-gap: 32px;
    max-height: 300px;
    grid-template-rows: 200px 200px 200px 200px 200px 200px 200px 200px ;
    grid-template-columns: 50% 50%;
    margin: 0 56px 0 56px;  
}

@media(max-width: 768px) {
    .container {
        display: grid;
        gap: 32px;
        row-gap: 32px;
        max-height: 600px;
        grid-template-rows: 200px 200px 200px 200px 200px 200px 200px 200px ;
        grid-template-columns: 100%;
        margin: 0 56px 0 56px;  
    }
    footer {
        display: flex;
        /* position: fixed; */
        flex-direction: row;
        justify-content: space-between;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 36px 20px 36px 20px;
        color: white;
        background: rgba(24, 34, 48, 1);
        z-index: 3;
    }
}

.real {
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background: green; */
    background: rgb(249, 250, 251);
    border-radius: 8px;
}

.details-btn {
    display: grid;
    place-items: center;
    height: 35px;
    width: max-content;
    border-radius: 50px;
    padding: 0 16px 0 16px;
    border: 1px solid rgba(234, 236, 240, 1);
}

.details-btn:hover {
    background: rgba(113, 123, 188, 1);
}
  
footer {
    display: flex;
    /* position: fixed; */
    flex-direction: row;
    justify-content: space-between;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 36px 320px 36px 320px;
    color: white;
    background: rgba(24, 34, 48, 1);
    z-index: 3;
}

.img {
    height: 50px;
    /* background: #ff0; */
}

footer p {
    text-align: end;
}